<h4>{{name}}</h4>

<h5>Todos</h5>
{{input type="text" id="new-todo" placeholder="new todo"
          value=newTitle action="createTodo"}}
<ul>
  {{#each todos}}
    <li>{{title}}</li>
  {{/each}}
</ul>
